@{
    ViewBag.Title = "Admin";
}
<h2>@ViewBag.Title</h2>
<div class="container">
    <div class="row">
        @Html.ActionLink("Manage Images", "Index", "FoodImages")
    </div>
    <div class="row">
        @Html.ActionLink("Manage Roles", "Index", "RolesAdmin")
    </div>
    <div class="row">
        @Html.ActionLink("Manage Users", "Index", "UsersAdmin")
    </div>
    <div class="row">
        @Html.ActionLink("Vendor Images", "Index", "VendorImages")
    </div>
    <div class="row">
        @Html.ActionLink("Category Images", "Index", "FoodCategoryImages")
    </div>
</div>